@font-face {
  font-family: Figtree;
  font-style: normal;
  font-weight: 300 900;
  src: url('../fonts/figtree-variable.woff2') format('woff2');
}

@font-face {
  font-family: Figtree;
  font-style: italic;
  font-weight: 300 900;
  src: url('../fonts/figtree-italic-variable.woff2') format('woff2');
}