.page-home {
  .site-header {
    border-bottom: 0;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;

    @media screen and (min-width: 37.5em) {
      font-size: 1.6rem;
    }
  }

  .more {
    align-self: flex-start;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 400;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    .more-icon {
      display: inline-block;
      width: 0.5em;
      height: 0.8em;
      margin-left: 0.5rem;
      margin-bottom: -0.06rem;
    }
  }
}

.home-intro {
  .intro {
    background-color: var(--color-bg-medium);
    border-radius: var(--border-radius);
    margin: 0 auto 1rem;
    max-width: var(--site-max);
    width: calc(100% - (var(--site-edge) * 2));
    padding: 40vh 1.5rem 1.5rem;

    @media screen and (min-width: 37.5em) {
      padding: 45vh 3rem 3rem;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 2.5rem;
      font-weight: 400;
      margin: 0;

      @media screen and (min-width: 37.5em) {
        font-size: 3rem;
      }

      @media screen and (min-width: 60em) {
        font-size: 3.5rem;
      }

      &.title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;

        @media screen and (min-width: 37.5em) {
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.home-contain {
  display: flex;
  flex-direction: column;
  margin: 0 auto 5rem;
  max-width: var(--site-max);
  width: calc(100% - (var(--site-edge) * 2));
  gap: 1rem;

  @media screen and (min-width: 37.5em) {
    gap: 1.5rem;
  }
}

.home-posts,
.home-projects,
.home-writing {
  background-color: var(--color-bg-light);
  border-radius: var(--border-radius);
  padding: 1.5rem;

  @media screen and (min-width: 37.5em) {
    padding: 2.5rem 3rem;
  }

  .wrapper {
    display: grid;
    gap: 2rem;
    margin: 0 auto;
    max-width: var(--site-max);

    @media screen and (min-width: 60em) {
      gap: 5rem;
      grid-template-columns: 3fr 5fr;
    }
  }
}

.home-posts,
.home-projects {
  .post-list,
  .project-list {
    border-bottom: 1px solid var(--border-color);
  }
}

.home-section-header {
  display: flex;
  flex: 0 0 40%;
  margin: 0;

  @media screen and (min-width: 60em) {
    margin: 0 0 2rem;
  }

  svg {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
  }
}

.home-posts {
  .home-section-header {
    padding-bottom: 1rem;
  }
}

.home-post-list {
  display: flex;
  flex-direction: column;
  max-width: 43.75rem;

  .post-list {
    margin: 0 0 1rem;
    padding-bottom: 1rem;

    > li {
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.home-project-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .project-list {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    grid-template-columns: 1fr;

    @media screen and (min-width: 48em) {
      grid-template-columns: 1fr 1fr;
      padding-bottom: 3rem;
    }
  }
}

.home-writing {
  .wrapper {
    grid-template-columns: none;
    gap: 0;
  }

  .home-section-header {
    margin-bottom: 1rem;

    @media screen and (min-width: 37.5em) {
      margin-bottom: 2rem;
    }
  }
  
  .series-list {
    margin-bottom: 2rem;

    @media screen and (min-width: 50em) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}