.page-container {
  margin: 0 auto 1rem;
  max-width: var(--site-max);
  width: calc(100% - (var(--site-edge) * 2));

  .page-header {
    flex: 0 0 40%;
    padding-top: 2.5rem;
    background-color: var(--color-bg-medium);
    border-radius: var(--border-radius);
    padding: 15vh 1.5rem 1.5rem;
    margin-bottom: 1rem;

    @media screen and (min-width: 37.5em) {
      padding: 20vh 3rem 3rem;
    }
  }

  .page-content-contain {
    flex-grow: 1;
    background-color: var(--color-bg-light);
    border-radius: var(--border-radius);
    padding: 1.5rem 1.5rem 5rem;

    @media screen and (min-width: 37.5em) {
      padding: 2.5rem 3rem 8rem;
    }

    > * {
      max-width: 48rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}