.year-group {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  h2 {
    position: sticky;
    top: 0;
    background-color: var(--color-bg-light);
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 0 0.75rem;
    margin: 0;
  }

  .posts-subheading + ul {
    margin-top: 2rem;
  }
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;

  @media screen and (min-width: 60em) {
    margin: 0;
  }

  li {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .post-title {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 0.6rem;

    @media screen and (min-width: 28.125em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 37.5em) {
      font-size: 1.6rem;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.posts-subheading {
  font-size: 1.5rem;
  font-weight: 400;

  @media screen and (min-width: 28.125em) {
    font-size: 1.6rem;
  }
}

.post-list a:hover {
  text-decoration: underline;
}

.post-meta {
  color: #c9a74f;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.post-tags-container {
  display: flex;
  align-items: flex-end;

  svg {
    margin-right: 0.5rem;
  }
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 0.6rem 0 0;
    font-size: 0.9rem;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: inherit;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}

.post-date {
  font-size: 0.9rem;
  font-weight: 400;
  display: block;
  margin: 0 1.5rem 0 0;
}

.post-list-pagination {
  padding: 3rem 0 0;

  ul {
    list-style: none;
    border-top: 1.5px solid var(--border-color);
    margin: 0;
    padding: 2rem 0 0;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    position: relative;
  }

  li {
    font-size: 1.125rem;
    font-weight: 400;

    a {
      align-self: flex-start;
      display: inline-block;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }

      .more-icon {
        display: inline-block;
        width: 0.5em;
        height: 0.8em;
        margin-left: 0.5rem;
        margin-bottom: -0.06rem;
      }
    }

    &.pagination-previous {
      .more-icon {
        margin-left: 0;
        margin-right: 0.5rem;
        transform: rotate(180deg);
      }
    }
  }

  .pagination-spacer {
    min-width: 4rem;
  }
}

/* Post Page */

.type-post {
  .site-header,
  .site-footer {
    border: 0;
  }

  .page {
    --color-text: #1d1d1d;

    margin: 0 auto;
    max-width: var(--site-max);
    background-color: #eee;
    padding: 0 var(--site-edge);

    @media screen and (min-width: 62.5em) {
      border-radius: 0.7rem;
      padding: 0;
      width: calc(100% - (var(--site-edge) * 2));
    }
  }
}

.post {
  margin: 0 auto;
  max-width: 48rem;
  padding: 2.5rem 0 5rem;

  @media screen and (min-width: 62.5em) {
    padding: 4rem 0 10rem;
  }

  .post-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #0f262136;
    margin-bottom: 2rem;
  }

  .post-meta {
    color: #946A00;
  }
}

.post-title {
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 0 0 1.2rem;
  font-weight: 400;

  @media screen and (min-width: 37.5em) {
    font-size: 2.2rem;
  }
}

.post-content,
.page-content {
  h2 {
    font-size: 1.4em;
    font-weight: 400;
    margin: 2em 0 1em;

    @media screen and (min-width: 37.5em) {
      font-size: 1.6em;
    }

    &.margin-bottom-zero {
      margin-bottom: 0.2rem;
    }
  }

  h3 {
    font-size: 1.3em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.05em;
    font-weight: 400;

    @media screen and (min-width: 37.5em) {
      font-size: 1.1em;
    }

    @media screen and (min-width: 62.5em) {
      font-size: 1.25em;
    }
  }

  p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 1.8rem;

    @media screen and (min-width: 37.5em) {
      font-size: 1.3rem;
    }

    &.subhead {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.3;

      @media screen and (min-width: 60em) {
        font-size: 2rem;
      }
    }
  }

  p,
  li {
    code {
      font-size: 1rem;
      font-weight: 500;
      background: rgb(255 255 255 / 90%);
      border: 1px solid #bebebe;
      padding: 0.2em 0.5em;
      border-radius: 0.2em;
      word-wrap: break-word;
    }
  }

  ul,
  ol {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;

    @media screen and (min-width: 37.5em) {
      font-size: 1.25rem;
    }

    & > li {
      margin-bottom: 0;
      line-height: 1.6;
    }
  }

  a {
    text-decoration: underline;
  }

  strong {
    font-weight: 400;
  }

  hr {
    margin: 3rem auto;
    border: 0;
    height: 2px;
    border-radius: 1px;
    background: currentColor;
    max-width: 6rem;
  }
}

.post-content {
  .last-updated {
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 3em 0 0;
  }

  ul {
    margin-left: 0;
    padding-left: 1.3em;
  }

  ul > li {
    margin-bottom: 0;
    line-height: 1.6;

    pre {
      margin-top: 0.625em;
    }
  }

  code {
    font-size: 0.875rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    line-height: 1.7;
  }
}