.project-list {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
  display: grid;
  grid-gap: 3rem;
  grid-auto-rows: 1fr;

  @media screen and (min-width: 37.5em) {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
  }

  @media screen and (min-width: 48em) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: max-content;
  }

  .page-projects & {
    max-width: 100%;

    li {
      padding-bottom: 1.5rem;
      border-bottom: 2px solid var(--border-color);
    }
  }

  li {
    align-items: center;
  }

  .project-info {
    display: flex;
    flex-direction: column;
  }

  .project-title {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 0.5rem;

    @media screen and (min-width: 28.125em) {
      font-size: 1.45rem;
    }

    @media screen and (min-width: 37.5em) {
      font-size: 1.6rem;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .project-desc {
    margin-bottom: 1rem;
    color: var(--color-text-meta);
  }

  .project-github {
    width: 1.7rem;
    display: block;
    color: inherit;
    margin-top: auto;

    svg {
      width: 1.7rem;
      height: auto;
      display: block;
      transition: opacity 0.15s cubic-bezier(0.65, 0.05, 0.36, 1);
      will-change: opacity;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}