.series-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: 1fr;

  @media screen and (min-width: 31.25em) {
    grid-template-columns: 1fr 1fr;
  }
}

.series-item {
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 22rem;

  @media screen and (min-width: 31.25em) {
    max-height: 100%;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  .series-image {
    order: -1;
    height: 100%;

    img {
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;

      @media screen and (min-width: 31.25em) {
        aspect-ratio: 3 / 4;
      }
    }
  }

  .series-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 60%));
    color: #fff;
    padding: 1.2rem 5% 8%;
    text-align: center;

    @media screen and (min-width: 37.5em) {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  .series-title {
    margin: 0 0 0.6rem;

    a {
      display: inline-block;
    }
  }

  .series-description {
    color: #efefef;
    margin-bottom: 0;
    text-wrap: balance;
  }
}