@charset "utf-8";

// Site variables
:root {
	--base-font-family: 'Figtree', 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--color-bg: #FFD3AC;
	--color-text: #1d1d1d;
	--color-code-bg: #191919;
	--border-color: #e8b181;
	--dark-border-color: #4f4f4f;
	--color-extra-light: #f7f7f7;
	--border-radius: 0.5rem;
	--site-max: 90rem;
	--site-edge: 1.5rem;

	@media screen and (min-width: 37.5em) {
		--site-edge: 2.5rem;
	}

	@media screen and (min-width: 60em) {
		--site-edge: 3.5rem;
	}
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"fonts",
	"base",
	"code",
	"global",
	"home",
	"posts",
	"page",
	"projects",
	"series"
;
