@charset "utf-8";

// Site variables
:root {
  --base-font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-bg: #090909;
  --color-bg-light: #191919;
  --color-text: #ffffffde;
  --color-code-bg: #191919;
  --border-color: #adadad4f;
  --dark-border-color: #4f4f4f;
  --color-extra-light: #f7f7f7;
  --border-radius: 0.5rem;
  --site-max: 90rem;
  --site-edge: 1.2rem;

  @media screen and (min-width: 37.5em) {
    --site-edge: 2rem;
  }

  @media screen and (min-width: 60em) {
    --site-edge: 3rem;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "code",
  "global",
  "home",
  "posts",
  "page",
  "projects",
  "series"
;
