@font-face {
  font-family: Lusitana;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lusitana-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Lusitana;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lusitana-700.woff2') format('woff2');
}

:root {
  --color-text: #1d1d1d;
}

.type-story {
  .site-header,
  .site-footer {
    color: var(--color-text);
  }

  .site-header {
    border-bottom: 1px solid #0000001c;
  }

  .site-footer {
    border-top: 1px solid #0000001c;
  }

  .page {
    margin: 0 auto;
    max-width: var(--site-max);
    width: calc(100% - (var(--site-edge) * 2));
  }

  .breadcrumbs {
    margin-top: 0.9rem;

    @media screen and (min-width: 60em) {
      margin-top: 1.25rem;
    }

    ol {
      list-style: none;
      display: inline-flex;
      margin: 0;
      font-size: 0.875rem;
      font-weight: 400;
    }

    li {
      &:not(:last-child) {
        &::after {
          content: '/';
          margin: 0 1rem;
        }
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.story-container {
  font-family: Lusitana, serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  max-width: 42rem;
  padding: 3rem 0 7rem;

  @media screen and (min-width: 62.5em) {
    padding: 3rem 0 10rem;
  }
}

.story-content {
  p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 0;
    text-indent: 2em;

    @media screen and (min-width: 37.5em) {
      font-size: 1.4rem;
    }
  }

  hr {
    margin: 4rem auto;
    border: 0;
    border-top: 1px solid #000;
    width: 25%;
  }

  blockquote {
    border-left-width: 1px;
    font-style: normal;
    margin: 2.5rem 0;

    p {
      text-indent: 0;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  .character-description {
    margin: 2rem 0;

    p {
      text-indent: 0;
    }
  }
}

.story-nav {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
  font-family: var(--base-font-family);

  > * {
    width: 50%;
    border-left: 1px solid #0000001c;
    padding-left: 1rem;

    &:hover {
      .story-title {
        text-decoration: underline;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }

  .story-nav-next {
    margin-left: auto;
  }

  p {
    text-indent: 0;
    font-size: 1.125rem;
    line-height: 1.3;
    margin: 0;
  }

  .story-title {
    font-size: 1.4rem;
    font-weight: 500;
  }
}