@font-face {
  font-family: 'Zen Dots';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/zen-dots-regular.woff2') format('woff2');
}

.series-header,
.story-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0 7rem;
  position: relative;

  .story-title {
    font-family: "Zen Dots", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-wrap: balance;
    max-width: 80%;
    margin: 0 auto 1.25rem;

    @media screen and (min-width: 37.5em) {
      font-size: 3.25rem;
    }
  }

  .story-count {
    order: -1;
    font-family: "Zen Dots", sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;

    @media screen and (min-width: 37.5em) {
      font-size: 1.8rem;
    }
  }

  .story-series {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: var(--base-font-family);
    letter-spacing: 0.3rem;
    font-weight: 500;
  }
}

.series-header {
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 0;

  .series-image {
    order: -1;
    margin-bottom: 2.25rem;

    img {
      aspect-ratio: 3 / 2;
      object-fit: cover;
      width: 100%;
      border-radius: 1rem;
    }
  }

  .story-title {
    font-size: 3.5rem;
    margin: 0 0 2.25rem;

    @media screen and (min-width: 37.5em) {
      font-size: 4.5rem;
    }
  }

  p {
    text-indent: 0;
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
}

.series-nav {
  margin: 0 auto;
  width: 90%;
  border-top: 1px solid rgb(0 0 0 / 20%);
  padding-top: 2.5rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 3rem;
  }

  li {
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }

    p {
      text-indent: 0;
    }

    .story-title {
      font-size: 2rem;
      font-family: "Zen Dots", sans-serif;
      line-height: 1;
      margin: 0;

      @media screen and (min-width: 37.5em) {
        font-size: 2.25rem;
      }
    }

    .count {
      order: -1;
      font-family: "Zen Dots", sans-serif;
      font-size: 1.3rem;
      line-height: 1.2;
      margin-bottom: 1.25rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}