---
title: Writing
layout: default
---

<div class="page-container">
	<header class="page-header">
		<h1 class="page-title">{{ title }}</h1>
	</header>

	<div class="page-content-contain">
		<ul class="series-list">
			<li class="series-item">
				<div class="series-info">
					<h3 class="series-title"><a href="/writing/nightlight">Nightlight</a></h3>
					<p class="series-description">A gay love story about Austin and Zach, a couple from the midwest.</p>
				</div>
				<div class="series-image">
					<img src="/img/writing/nightlight.jpg" alt="A hand in the dark reaching out towards the light coming from a window." loading="lazy" />
				</div>
			</li>
		</ul>
	</div>
</div>