
<title>{% if title != "Home" %}{{ title | escape | append: ' - Sam Hermes' }}{% else %}{{ site.title | escape
    }}{% endif %}</title>
<meta name="description"
    content="{% if excerpt %}{{ excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml" | prepend: site.baseurl
    | prepend: site.url }}">