@font-face {
    font-family: 'Lusitana';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Lusitana-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Lusitana';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Lusitana-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Instrument Serif';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Instrument-Regular.woff2') format('woff2');
}

.series-nav {
    border-top: 1px solid var(--color-text);
    padding-top: 4rem;
    margin-top: 4rem;
    position: relative;

    &::before {
        content: '';
        border-left: 1px solid var(--color-text);
        left: 0;
        top: 0;
        position: absolute;
        height: 3rem;
        width: 1rem;
    }

    &::after {
        content: '';
        border-right: 1px solid var(--color-text);
        right: 0;
        top: 0;
        position: absolute;
        height: 3rem;
        width: 1rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0 0 4.5rem;
        border-bottom: 1px solid var(--color-text);

        &::before {
            content: '';
            border-left: 1px solid var(--color-text);
            left: 0;
            bottom: 0;
            position: absolute;
            height: 3rem;
            width: 1rem;
        }

        &::after {
            content: '';
            border-right: 1px solid var(--color-text);
            right: 0;
            bottom: 0;
            position: absolute;
            height: 3rem;
            width: 1rem;
        }
    }

    li {
        font-size: 1.8rem;
        text-align: center;
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }

        p {
            text-indent: 0;
        }

        .story-title {
            font-size: 2.2rem;
            font-family: "Instrument Serif", serif;
            margin: 0;

            @media screen and (min-width: 37.5em) {
                font-size: 2.8rem;
            }
        }

        .count {
            order: -1;
            font-family: 'Inter', sans-serif;
            font-size: 1rem;
            line-height: 1.2;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

.type-story {
    .site-header,
    .site-footer {
        color: var(--color-text);
    }

    .site-header {
        border-bottom: 1px solid #0000001c;
    }

    .site-footer {
        border-top: 1px solid #0000001c;
    }

    .page {
        margin: 0 auto;
        max-width: var(--site-max);
        width: calc(100% - (var(--site-edge) * 2));
    }

    .breadcrumbs {
        margin-top: 1.25rem;

        ol {
            list-style: none;
            display: inline-flex;
            margin: 0;
            font-size: 0.875rem;
            font-weight: 400;
        }

        li {
            &:not(:last-child) {
                &::after {
                    content: '/';
                    margin: 0 1rem;
                }
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.story-container {
    font-family: "Lusitana", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    max-width: 42rem;
    padding: 3rem 0;

    @media screen and (min-width: 62.5em) {
        padding: 3rem 0 10rem;
    }
}

.series-header,
.story-header {
    display: flex;
    align-items: center;
    aspect-ratio: 4 / 3;
    margin-bottom: 2rem;
    padding: 10rem 0;
    border: 1px solid var(--color-text);
    position: relative;

    .story-title {
        font-family: "Instrument Serif", serif;
        font-size: 3.25rem;
        font-weight: 400;
        line-height: 1.1;
        text-align: center;
        text-wrap: balance;
        max-width: 80%;
        margin: 0 auto;

        @media screen and (min-width: 37.5em) {
            font-size: 4rem;
        }
    }
}

.series-header {
    flex-direction: column;
    padding: 1.5rem;
    justify-content: center;
    margin-bottom: 3rem;

    .series-image {
        margin-bottom: 1.45rem;
        order: -1;

        img {
            aspect-ratio: 4 / 3;
            object-fit: cover;
            width: 100%;
        }
    }
}

.story-header {
    .count {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        position: absolute;
        right: 1rem;
        bottom: 0.8rem;
        margin: 0;
    }

    .series {
        font-family: 'Inter', sans-serif;
        font-size: 0.875rem;
        font-weight: 300;
        position: absolute;
        top: 0.8rem;
        left: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        transform: rotate(-90deg) translate(-100%, 0);
        transform-origin: top left;
    }

    &::after {
        content: '';
        position: absolute;
        border: 1px solid var(--color-text);
        left: 1rem;
        bottom: 0.8rem;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
    }
}

.story-content {
    p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 0;
        text-indent: 2em;

        @media screen and (min-width: 37.5em) {
            font-size: 1.4rem;
        }
    }

    hr {
        margin: 4rem auto;
        border: 0;
        border-top: 1px solid #000;
        width: 25%;
    }

    .character-description {
        margin: 2rem 0;

        p {
            text-indent: 0;
        }
    }
}

.story-nav {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    font-family: 'Inter', sans-serif;

    > * {
        width: 50%;
        border-left: 1px solid #0000001c;
        padding-left: 1rem;

        &:hover {
            .story-title {
                text-decoration: underline;
            }
        }

        a {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }
    }

    .story-nav-next {
        margin-left: auto;
    }

    p {
        text-indent: 0;
        font-size: 1.25rem;
        line-height: 1.3;
    }

    .story-title {
        font-weight: 500;
    }
}