---
title: Nightlight
excerpt: A gay love story about Austin and Zach, a couple from the midwest.
date: 2024-08-25 14:47:00 Z
series: Nightlight
backgroundColor: f4c9db
count: 0 / 5
permalink: "writing/nightlight/index.html"
---

<p>Austin Wiley and Zach Parsons are a gay couple living in the Midwest. They met six months ago at their local outdoor theater. Austin was on stage, and Zach was behind the scenes. When they found each other, they knew that they had found something special. Now, they're living together and finding out what it means to be a gay couple in a place that doesn't always welcome them with open arms.</p>

<div class="character-description">
    <p><strong>Austin Wiley</strong></p>
    <p>Austin loves to put on a show. He's been performing since he could put on a hat. He's in his last semester of college, and preparing for a show at the local outdoor theater.</p>
</div>

<div class="character-description">
    <p><strong>Zach Parsons</strong></p>
    <p>Zach is always deep in thought. He loves coffee and numbers. He graduated from college last year, has his own apartment, and works as an accountant.</p>
</div>

<nav class="series-nav">
	<ul class="story-list">
		{% for story in collections.nightlight %}
		<li>
			<p class="story-title">
				<a class="story-link" href="{{ story.url | url }}">{{ story.data.title }}</a>
			</p>
			<p class="count">{{story.data.count}}</p>
		</li>
		{% endfor %}
	</ul>
</nav>