---
import SiteLayout from "./SiteLayout.astro";
const { title, frontmatter } = Astro.props;
const pageTitle = title ?? frontmatter.title;
---

<SiteLayout title={pageTitle}>
	<div class="page-container">
		<header class="page-header">
			<h1 class="page-title">{pageTitle}</h1>
		</header>

		<div class="page-content-contain">
			<div class="page-content">
				<slot />
			</div>
		</div>
	</div>
</SiteLayout>
